@model IEnumerable<Product.Model.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            Model
        </th>
        <th>
            Range
        </th>
        <th>
            Description
        </th>
        <th>
            Height
        </th>
        <th>
            Width
        </th>
        <th>
            Depth
        </th>
        <th>
            Power
        </th>
        <th>
            Fuel
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Range)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Width)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Depth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Power)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fuel)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
            <!--@Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })-->
        </td>
    </tr>
}

</table>
